<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
    <body>
        <form th:method="POST" th:action="@{/users}" th:object="${person}">

            <label for="firstName">
                <input type="text" th:field="*{firstName}" id="firstName" placeholder="firstName">
            </label>

            <div style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name error</div>

            <label for="lastName">
                <input type="text" th:field="*{lastName}" id="lastName" placeholder="lastName">
            </label>

            <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">LastName error</div>

            <label for="age">
                <input type="number" th:field="*{age}" id="age" placeholder="age">
            </label>

            <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>

            <input type="submit" value="Create!">
        </form>
    </body>
</html>